* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: url("../media/img/bg_2.png") no-repeat;
    background-color: #f7f7f7;
    background-position: 50% 50%;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 85px;
}

.nav-one {
    display: inline-block;
    list-style: none; 
    margin-right: 50px;
}
.nav-two {
    display: inline-block;
    list-style: none;  
    margin-left: 50px;
}

.menu a:hover, a:visited, a:link, a:active {
    color: #4d4959; 
    text-decoration: none;
}

.menu li {
    display: inline;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-left: 25px;
    color: #4d4959; 
}

.content {
    width: 100%;
    flex: 1 1 auto;
}

.about-us {
    display: flex;
    height: 469px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.about-title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    padding-top: 35px;
}

.about-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    text-align: center;
    padding-top: 35px;
}

.mailing {
    width: 100%;
    height: 469px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailing img { 
    margin-top: 109px;
}

.mailing span {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    margin-top: 39px;
    margin-bottom: 35px;
}

.mailing-input {
    display: flex;
}

.mailing-input input {
    width: 400px;
    height: 69px;
    border: 1px solid #d3d7d9;
    padding-left: 28px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
}

.mailing-input button {
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    border: none;
    margin-left: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
}

.mailing-input button:hover {
    background-color: #57cea0;
}

.footer {
    height: 250px;
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer-content p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    color: #848789;
}

.footer-content span {
    font-family: 'Lato', sans-serif;
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.link-media {
    padding-right: 110px;
}

.link-media a {
    padding-left: 15px;
}

.by-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.by-info img {
    padding-left: 9px;
}



