* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background: url("../media/img/bg_2.png") no-repeat;
    background-color: #f7f7f7;
    background-position: 50% 50%;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 85px;
}

.menu__nav-one {
    display: inline-block;
    margin-right: 50px;
    list-style: none; 
}

.menu__nav-two {
    display: inline-block;
    list-style: none;  
    margin-left: 50px;
}

.menu a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #4d4959; 
}

.menu li {
    display: inline;
    padding-left: 25px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959; 
}

.content {
    width: 100%;
    flex: 1 1 auto;
}

.content__about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 469px;
    background-color: #f7f7f7;
}

.content__about-title {
    padding-top: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
}

.content__about-text {   
    text-align: center; 
    padding-top: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
}

.content__work {
    display: flex;
    flex-direction: column;
    height: 1810px;
}

.content__shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #282f35;
}

.content__shop button {
    width: 300px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: rgba(255,255,255,0.0);
    border: 1px solid rgba(255,255,255,0.49);
    color: #ffffff;
}

.content__shop button:hover { 
    border: 1px solid #57cea0;
    color: #57cea0;
}

.content__mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 469px;
}

.content__mailing img { 
    margin-top: 109px;
}

.content__mailing span {
    margin-top: 39px;
    margin-bottom: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.content__mailing-input {
    display: flex;
}

.content__mailing-input input {
    width: 400px;
    height: 69px;
    padding-left: 28px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    border: 1px solid #d3d7d9;
    color: #929292;
}

.content__mailing-input button {
    width: 126px;
    height: 69px;
    margin-left: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    border: none;
    background-color: #64c29e;
    color: #ffffff;
}

.content__mailing-input button:hover {
    background-color: #57cea0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #f7f7f7;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-content p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    color: #848789;
}

.footer-content span {
    font-family: 'Lato', sans-serif;
    font-size: 13.9px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.link-media {
    padding-right: 110px;
}

.link-media a {
    padding-left: 15px;
}

.by-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.by-info img {
    padding-left: 9px;
}



