* {
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: url("/media/img/bg_2.png") no-repeat;
    background-color: #f7f7f7;
    background-position: 50% 50%;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 85px;
}

.nav-one {
    display: inline-block;
    list-style: none; 
    margin-right: 50px;
}
.nav-two {
    display: inline-block;
    list-style: none;  
    margin-left: 50px;
}

.menu a:hover, a:visited, a:link, a:active {
    color: #4d4959; 
    text-decoration: none;
}

.menu li {
    display: inline;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-left: 25px;
    color: #4d4959; 
}



